<h1>Listing contact_requests</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Bug</th>
    <th>Feature request</th>
    <th>Suggestion</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contact_requests.each do |contact_request| %>
  <tr>
    <td><%= contact_request.content %></td>
    <td><%= contact_request.bug %></td>
    <td><%= contact_request.feature_request %></td>
    <td><%= contact_request.suggestion %></td>
    <td><%= contact_request.user %></td>
    <td><%= link_to 'Show', contact_request %></td>
    <td><%= link_to 'Edit', edit_contact_request_path(contact_request) %></td>
    <td><%= link_to 'Destroy', contact_request, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact request', new_contact_request_path %>
