<ul class="toolbar">
	<li><%= link_to "New activity", new_activity_path, :class => "button" %></li>
</ul>

<section class="group">
	<h6>Today</h6>
	
<% unless @todotodays.empty? %>
	
	<%= render "shared/filter_toolbar" %>
		<ul class="activityList withSeparator">
		
			<% @todotodays.each do |td| %>
			<% a = td.activity %>
			
			<li>
				<div class="quickView">
					<%= form_for a do |f| %>
						<%= hidden_field "activity", :completed, :value => (a.completed ? false : true) %>
						<%= hidden_field "activity", "force_update", :value => :true %>
						<%= f.submit (a.completed ? '&times;'.html_safe : ""), :class => "checkbox" %>
						<div class="activityName">
							<%= content_tag_for(:span, a, :class => (a.completed ? 'activityCompleted' : "") ) do %>
								<%= a.name %>
							<% end %>
							<%= in_progress_marker(@pomodoro, a) %>
						</div>
						<div class="pomodorosCount">
							<%= pomodoros_completed_ratio(a.pomodoros.successful_and_completed.count, a.estimated_pomodoros) %>
						</div>
					<% end %>
				</div>
				
				<div class="detailsView">
					<%= a.description %>
					
					<ul class="actionsBar">
						<li><%= link_to("Do it now", pomodoros_path(:activity_id => a), :method => :post, :class => :button) %></li>
						<li><%= link_to("Do it another day", td, :confirm => "Are you sure?", :method => :delete, :class => :button) %></li>
						<li><%= link_to("Edit", edit_activity_path(a), :class => :button) %></li>
					</ul>
					<ul class="infoBar">
						<li>Project name</li>
						<li><%= raw a.completed ? "Completed" : "Due at #{due_at_status a.deadline}" %></li>
						<li>Created at Sat, Jan 8 2011</li>
					</ul>
				</div>
			</li>
			<% end %>
		
		</ul>

	<%= will_paginate @todotodays %>

<% else %>
	<p class="pageContainer">
		You haven't picked any activities to work on today.
	</p>
	<p class="pageContainer">
		Use the <%= link_to("Activities", activities_path, :class => :button) %> list or the "Recent activities" widget to pick your "Todo today" activities.
	</p>
<% end %>

</section>