<ul class="toolbar">
	<li><%= link_to "New activity", new_activity_path, :class => "button" %></li>
</ul>

<% unless @todotodays.empty? %>
	
	<%= render "shared/filter_toolbar" %>

	<section class="group">
		<h6>Today</h6>
		<ul class="activityList">
		
			<% @todotodays.each do |td| %>
			<% a = td.activity %>
			
			<li>
				<div class="quickView">
					<%= form_for a do |f| %>
						<%= f.submit "", :class => "checkbox" %>
						<div class="activityName"><%= a.name %></div>
						<div class="pomodorosCount">
							<%= pomodoros_completed_ratio(a.pomodoros.successful_and_completed.count, a.estimated_pomodoros) %>
						</div>
					<% end %>
				</div>
				
				<div class="detailsView">
					<%= a.description %>
					
					<ul class="actionsBar">
						<li><%= link_to("Do it now", pomodoros_path(:activity_id => a), :method => :post, :class => :button) %></li>
						<li><%= link_to("Do it another day", td, :confirm => "Are you sure?", :method => :delete, :class => :button) %></li>
						<li><%= link_to("Edit", edit_activity_path(a), :class => :button) %></li>
					</ul>
					<ul class="infoBar">
						<li>Project name</li>
						<li><%= raw a.completed ? "Completed" : "Due at #{due_at_status a.deadline}" %></li>
						<li>Created at Sat, Jan 8 2011</li>
					</ul>
				</div>
			</li>
			<% end %>
		
		</ul>
	</section>

	<%= will_paginate @todotodays %>
<% end %>