<%= render "shared/upper_toolbar" %>

<section class="group">
	<h6>Today</h6>
	
<% unless @todotodays.empty? %>
	
	<% # render "shared/filter_toolbar" %>
		<ul class="activityList withSeparator">
		
			<% @todotodays.each do |td| %>
			<% a = td.activity %>
			<% next if a.nil? %>
			
			<%= render :partial => "shared/activity", :locals => { :a => a, :td => td } %>
			
			<% end %>
		
		</ul>

	<%= will_paginate @todotodays %>

<% else %>
	<p class="pageContainer">
		You haven't picked any activities to work on today.
	</p>
	<p class="pageContainer">
		Use the <%= link_to("Activities", activities_path, :class => :button) %> list <%= @recent_pomodoros.length == 0 ? "" : 'or the "Recent activities" widget' %> to pick your "Todo today" activities.
	</p>
<% end %>

</section>