<div class="quick_stats">
	<table>
		<tr>
			<th>Start date</th>
			<th>End date</th>
			<th>Beats</th>
			<th>Time</th>
			<th>Activities</th>
			<th>Projects</th>
		</tr>
		<tr>
			<td>
				<%= @start_date.strftime('%e') %>
				<%= @start_date.strftime('%b') %>
			</td>
			<td>
				<%= (@end_date -1.day).strftime('%e') %>
				<%= (@end_date -1.day).strftime('%b') %>
			</td>
			<td>
				<%= @total_completed_pomodoros %>
			</td>
			<td>
				<%= distance_of_time_in_words(@total_worked_minutes.minutes) %>
			</td>
			<td>
				<%= @total_worked_activities %>
			</td>
			<td>
				<%= @total_worked_projects %>
			</td>
		</tr>
	</table>
</div>