<%= render "shared/upper_toolbar" %>
<%= render "shared/analytics_filter_toolbar" %>

<section class="group" id="analytics_index">
	
	<%= render "quick_status" %>
	
	<% unless @complete_pomodoros.empty? and @void_pomodoros.empty? %>
		<%= render "completed_vs_voided_pomodoros" %>
	<% end %>
	
	<% unless @complete_pomodoros.empty? or @estimated_pomodoros.empty? %>
		<%= render "estimated_vs_completed_pomodoros" %>
	<% end %>
	
	<% unless @complete_pomodoros.empty? %>
		<%= render "completed_pomodoros_vs_worked_time" %>
	<% end %>
	
	<% unless @planned_activities.empty? and @unplanned_activities.empty? %>
		<%= render "planned_activities_vs_unplanned_activities" %>
	<% end %>
	
	<% unless @internal_interruptions.empty? and @external_interruptions.empty? %>
		<%= render "internal_interruptions_vs_external_interruptions" %>
	<% end %>
	
	<% if @complete_pomodoros.empty? and @void_pomodoros.empty? and @planned_activities.empty? and @unplanned_activities.empty? %>
		<p class="pageContainer">
			You have no data to process.
		</p>
		<p class="pageContainer">
			Complete some pomodoros and then come back to see how you stand.
		</p>
	<% end %>

</section>