<%= form_for(@pomodoro, :url => pomodoro_path(@pomodoro), :remote => true, :html => { 'data-type' => 'text' }) do |f| %>
	<% pomodoro_finished = (Time.now - @pomodoro.created_at < current_user.pomodoro_length.minutes) %>
	<%= hidden_field_tag("pomodoro[completed]", true) %>
	
	<div class="field <%=:invisible if pomodoro_finished %>">
		<%= f.label :comments, 'Leave a comment?'%>
		<%= f.text_area :comments %>
	</div>
	
	<% if pomodoro_finished %>

		<%= hidden_field_tag("pomodoro[successful]", false) %>
		<div class="field pomodoro_toolbar">
			<%= f.submit("Void", :id => :btn_void_pomodoro, :confirm => "Are you sure? You will lose all progress!", 'data-prompt' => 'Leave a comment?', 'data-prompt-callback' => 'updateVoidComment', 'data-prompt-answer' => 'Urgent interruption', :tooltip => 'Cancel the current pomodoro', :class => %w[btn btn-danger] ) %>
		</div>

	<% else %>

		<div class="field">
			<%= f.label :successful %>
			<%= f.check_box :successful, :checked => true, :class => :tickbox %>
		</div>
		<div class="field">
			<%= f.submit("Complete", :class => %w[btn btn-primary]) %>
		</div>

	<% end %>

	<%= link_to("Edit activity", edit_activity_path(@pomodoro.activity), :id => :btn_edit_current_pomodoro) %>
<% end if @pomodoro %>
