<section class="group formContainer signUpForm">
	
	<%= form_for(@user) do |f| %>
	  <%= render 'shared/error_messages', :object => f.object %>
		
		<h6>My Account</h6>
		<section id="user_info">
			
			<div id="gravatar">
				<%= gravatar_for @user, :size => 168 %>
				<a href="http://gravatar.com/emails" class="btn">Change avatar</a>
			</div>
			
			<div id="user_details">
	  		<div class="field">
			    <%= f.label :name %><br />
			    <%= f.text_field :name %>
			  </div>
			  <div class="field">
			    <%= f.label :email %><br />
			    <%= f.text_field :email %>
			  </div>
			  <div class="field">
			    <%= f.label :password %><br />
			    <%= f.password_field :password %>
			  </div>
			  <div class="field">
			    <%= f.label :password_confirmation, "Confirmation" %><br />
			    <%= f.password_field :password_confirmation %>
			  </div>
				<div class="field">
			    <%= f.label :time_zone %><br />
			    <%= time_zone_select :user, :time_zone, nil, :include_blank => true %>
			  </div>
			</div>
		</section>
		
		<div class="actions">
	    <%= f.submit "Update account", :class => %w[btn btn-primary] %>
	  </div>
		
		<h6>Account type</h6>
		<section id="account_type">
			<div class="field">
		    <%= content_tag(:label, current_user.account.name.titleize) %>
		  </div>
		</section>
	
		<h6>API Key</h6>
		<section id="api_key">
			<% if @user.api_is_enabled? %>
		    <div class="field" id="api_key">
			    <%= f.label :api_key %><br />
			    <%= f.text_field :api_key, :readonly => :true %>
			  </div>
				<div class="field">
					<%= link_to "Regenerate API key", apikeys_path, :method => :post, :class => :button %> | <%= link_to "Disable API acccess", apikeys_path, :method => :delete, :class => :button %>
				</div>
			<% else %>
				<div class="field">
				    <label>You'll need a unique key to make calls to the API.  Remember to keep this key a secret as it can be used to access your account.</label>
				    <%= link_to("Get a key", apikeys_path, :method => :post, :class => :button) %>
				</div>
			<% end %>
		</section>	
		
	<% end %>
	
	<%= form_for(@user.setting, :url => edit_user_settings_path(@user)) do |f| %>
	  <%= render 'shared/error_messages', :object => f.object, :anchor => true %>
	
		<h6>Pomodoro settings</h6>
		<section id="pomodoro_settings">
      <div class="field" id="pomodoro_length">
        <%= f.label :pomodoro_length %><br />
        <%= f.text_field :pomodoro_length, :class => :numeric %>
      </div>
      <div class="field" id="short_break_length">
        <%= f.label :short_break_length %><br />
        <%= f.text_field :short_break_length, :class => :numeric %>
      </div>
      <div class="field" id="long_break_length">
        <%= f.label :long_break_length %><br />
        <%= f.text_field :long_break_length, :class => :numeric %>
      </div>
		</section>
	
		<h6>Notifications</h6>
		<section id="notifications">
		
			<div class="field" id="voice_notifications">
		    <%= f.label :voice_notifications %>
		    <%= f.check_box :voice_notifications %><br/>
		    <%= f.text_field :voice_notifications_volume, :class => [:numeric, :volume] %>
		  </div>
		
			<div class="field" id="tick_tack_sound">
		    <%= f.label :tick_tack_sound %>
		    <%= f.check_box :tick_tack_sound %><br/>
		    <%= f.text_field :tick_tack_sound_volume, :class => [:numeric, :volume] %>
		  </div>
		
			<div class="field" id="ring_sound">
		    <%= f.label :ring_sound %>
		    <%= f.check_box :ring_sound %><br/>
		    <%= f.text_field :ring_sound_volume, :class => [:numeric, :volume] %>
		  </div>
		
			<div class="field">
        <br/>
				<%= button_to_function "Test audio", "playTestSound()", :class => %w[btn btn-default], :id => :speaker %>
			</div>
			
			<br />
			<div class="field">
		    <%= f.label :email_notifications %>
		    <%= f.check_box :email_notifications %>
		  </div>
		</section>
		
		<!--
		<h6>More settings</h6>
		<section id="general_settings">
			<div class="field">
		    <%#= f.label :tooltips %>
		    <%#= f.check_box :tooltips %>
		  </div>
		</section>
		-->
		
		<div class="actions">
	    <%= f.submit "Update settings", :class => %w[btn btn-primary] %>
	  </div>
		
	<% end %>
	
</section>