<li id="act_<%= a.id %>" data-activity="a_<%= a.id %>" <%= a.completed ? 'class="completed_task"'.html_safe : '' %>>
	<div class="quickView">
		<%= form_for a do |f| %>
			
			<div class="activityName" title="Click to show / hide activity details" style="width: <%= 690 - pomodoros_icons_width(a.pomodoros.successful_and_completed.count, a.estimated_pomodoros) %>px">
				<%= hidden_field "activity", :completed, :value => (a.completed ? false : true) %>
				<%= hidden_field "activity", "force_update", :value => :true %>
				<%= image_submit_tag (a.completed ? "checkbox_ticked.png" : "checkbox.png"), :class => "checkbox", :title => "Click to complete / reopen activity" %>
				
				<%= content_tag_for(:span, a, :class => (a.completed ? 'activityCompleted' : "") ) do %>
					<%= a.name %>
				<% end %>
				<%= in_progress_marker(@pomodoro, a) %>
				<% unless params[:controller] == 'todotodays' %>
					<%= todotoday_marker(a) %>
				<% end %>
			</div>
			
			<div class="pomodorosCount listPomodorosCount" style="width: <%= pomodoros_icons_width(a.pomodoros.successful_and_completed.count, a.estimated_pomodoros) + 20 %>px">
				<% if params[:controller] == 'todotodays' %>
					<div class="drag_handle" title="Drag to sort"><%= image_tag 'handle.png' %></div>
				<% end %>
				<div class="pomodoros_icons" style="width: <%= pomodoros_icons_width(a.pomodoros.successful_and_completed.count, a.estimated_pomodoros) %>px">
					<%= pomodoros_completed_ratio(a.pomodoros.successful_and_completed.count, a.estimated_pomodoros) %>
				</div>
			</div>
		<% end %>
	</div>

	<div class="detailsView">
		<%= text_format(a.description) %>
		
		<ul class="infoBar">
			<li>PROJECT: <%= a.project.nil? ? "none" : link_to(a.project.name, a.project) %></li>
			<li class="clear_me"><%= raw a.completed ? "Completed" : "DUE AT: #{due_at_status a.deadline}" %></li>
			<li>CREATED AT: <%= a.created_at.to_date.to_s(:rfc822) %></li>
			<% if a.event_type? %>
				<li class="clear_me">START AT: <%= hms_format a.start_at %></li>
				<li>END AT: <%= hms_format a.end_at %></li>
			<% end %>
			<% unless a.tag_list.blank? %>
				<li>TAGS: <%= a.tag_list %></li>
			<% end %>
		</ul>

		<ul class="actionsBar">
			<% unless a.completed %>
				<% if a.todotoday.nil? %>
					<li><%= link_to( "Do Today", todotodays_path(:activity_id => a), :method => :post, :class => [:activity_toolbar_button, :dotoday]) %></li>
				<% elsif !in_progress?(@pomodoro, a) and @pomodoro.nil? %>
					<li><%= link_to("Do it now", pomodoros_path(:activity_id => a), :method => :post, :class => [:activity_toolbar_button, :doitnow]) %></li>
				<% end %>
				
				<% if !a.todotoday.nil? and params[:controller] == 'todotodays' and !td.nil? and !in_progress?(@pomodoro, a) %>
					<li><%= link_to("Do another day", td, :confirm => "Are you sure?", :method => :delete, :class => [:activity_toolbar_button, :delete]) %></li>
				<% end %>
			<% end %>
			<li><%= link_to("Edit", edit_activity_path(a), :class => [:activity_toolbar_button, :edit]) %></li>
			<% if params[:controller] != 'todotodays' %>
				<li><%= link_to("Delete", a, :confirm => "Are you sure?", :method => :delete, :class => [:activity_toolbar_button, :delete]) %></li>
			<% end %>
			<li><%= link_to("Clone", clone_activity_path(:id => a.id), :class => [:activity_toolbar_button, :clone]) %></li>
			<% if (count = a.pomodoros.count) > 0 %>
				<li><%= link_to("#{pluralize(count, 'pomodoro')}", pomodoros_path(:activity => a.id), :class => [:activity_toolbar_button, :pomodoros_count], :remote => true) %></li>
			<% end %>
			<li><%= link_to("#{pluralize(a.comments.count, 'comment')}", comments_path(:activity => a.id), :class => [:activity_toolbar_button, :comments_count], :id => ('btn_comments_' + a.id.to_s), :remote => true) %></li>
		</ul>
	</div>
</li>