<div class="toolbar collapsed_toolbar" id="activityFilterAnalytics">
	
	<%= form_tag(analytics_path, :method => "get") do %>
		
		<div class="pomo_row">
			
	  	<%= label_tag(:q_interval, "Time interval:") %>
			<% 
			intervals = [["Since yesterday", "1"], ["7 days", "7"], ["30 days", "30"]] 
			%>
		  <%= select_tag(:q_interval, options_for_select(intervals, params[:q_interval])) %>
		
			<%= label_tag(:q_tags, "Tags.") %>
	  	<%= text_field_tag(:q_tags, params[:q_tags]) %>
		
		</div>
		
		<div class="pomo_row">
			<%= label_tag(:q_project, "Project:") %>
			<% 
			projects = [["..Any..", "__none__"]] 
			Project.where("user_id = ?", current_user).where(:completed => false).each do |p|
				projects << [p.name, p.id]
			end
			%>
		  <%= select_tag(:q_project, options_for_select(projects, params[:q_project])) %>
      <br/>
			<%= submit_tag("Filter", :class => %w[btn btn-primary], :id => :analytics_filter_submit) %>
		</div>
		
	<% end %>
	
</div>