<% unless @pomodoro.nil? %>
	<div class="active_pomodoro">
		<h1>In progress</h1>
		<h3><%= @pomodoro.activity.name %> | <%= link_to("Edit activity", edit_activity_path(@pomodoro.activity) ) %></h3>
		
		<p class="pomodoros_icons"><%= pomodoros_completed_ratio(@pomodoro.activity.pomodoros.successful_and_completed.count, @pomodoro.activity.estimated_pomodoros) %></p>
		
		<div class="timer">
			<span class="time" data-seconds="<%= (Pomodoro.length * 60) - ((Time.now - @pomodoro.created_at)).to_i %>">
				<%= Pomodoro.length - ((Time.now - @pomodoro.created_at) / 60).to_i %>
			</span> minutes left
		</div>
		
		<p><%= simple_format(@pomodoro.activity.description) %></p>
		
		<%= form_for(@pomodoro, :url => pomodoro_path(@pomodoro)) do |f| %>
			<%= hidden_field_tag("pomodoro[completed]", true) %>
			<div class="field">
				<%= f.text_area :comments %>
			</div>
			<% if Time.now - @pomodoro.created_at < Pomodoro.length.minutes %>
				<%= hidden_field_tag("pomodoro[successful]", false) %>
				<div class="field">
					<%= f.submit("Void") %>
				</div>
			<% else %>
				<div class="field">
					<%= f.label :successful %>
					<%= f.check_box :successful, :checked => true %>
				</div>
				<div class="field">
					<%= f.submit("Complete") %>
				</div>
			<% end %>
		<% end %>
	</div>
<% end %>