<%= render "shared/debug" %>

<script>
	base_url = "<%= root_url %>";
	voice_notifications = <%= current_user.nil? ? "false" : current_user.voice_notifications %>
	tick_tack_sound = <%= current_user.nil? ? "false" : current_user.tick_tack_sound %>
	<% unless @start_date.nil? %>
	chart_interval = <%= @graph_interval %>
	<% end %>
</script>
<%= javascript_tag "var AUTH_TOKEN =  #{form_authenticity_token.inspect};" if protect_against_forgery? %>

<%= javascript_include_merged(:base).html_safe %>

<!--[if lt IE 9]><%= javascript_include_tag 'jquery.corner', 'innershiv', 'ie' %><![endif]-->
<!--[if IE 7]><%= javascript_include_tag 'ie7' %><![endif]-->
	
<%= render "shared/ga" %>

</body>
</html>