<%= render "shared/debug" %>

<%= javascript_include_tag 'jquery', 'rails', 'application', 'enhance', 'excanvas', 'jquery-ui-1.8.9.custom.min', 'jquery.formalize', 'jquery.inline_label.min', 'visualize.jQuery' %>
<!--[if lt IE 9]><%= javascript_include_tag 'jquery.corner', 'ie' %><![endif]-->
<script>
	base_url = "<%= root_url %>";
	voice_notifications = <%= current_user.nil? ? "false" : current_user.voice_notifications %>
	<% unless @start_date.nil? %>
	chart_interval = <%= @graph_interval %>
	<% end %>
</script>
<%= javascript_tag "var AUTH_TOKEN =  #{form_authenticity_token.inspect};" if protect_against_forgery? %>

</body>
</html>