<!DOCTYPE html>
<html>
<head>
  <title><%= title %> | Rhapsody</title>

	<%= render 'shared/meta_tags' %>

	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  <%= stylesheet_link_tag "application", :media => "all" %>

  <!--[if IE]><%= stylesheet_link_tag "ie", 	:media => [:screen, :projection] %><![endif]-->
	<!--[if IE 7]><%= stylesheet_link_tag "ie7", 	:media => [:screen, :projection] %><![endif]-->

	<%= favicon_link_tag %>
	<%= csrf_meta_tag %>
</head>

<body class="<%= ( params[:controller] == 'pages' and params[:action] == 'home' ) ? 'home-page' : '' %>">
  <header class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <%= render "shared/logo" %>
      <%= render "shared/menu" %>
    </div>
  </header>