<!DOCTYPE html>
<html>
<head>
  <title><%= request.path_parameters[:controller].capitalize %> | Pomodoro Crate</title>
	
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<%= stylesheet_link_tag "blueprint/reset", 	:media => :screen %>
	<%= stylesheet_link_tag "web_fonts", 				:media => :all %>
	<%= stylesheet_link_tag "screen", 					:media => :screen %>
	<%= stylesheet_link_tag "login", 						:media => :screen %>
	<!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
	
	<%= favicon_link_tag %>
	<%= csrf_meta_tag %>
</head>

<body>
<div id="site">
	<div id="login_page" class="boxShadow">
		<header>
			<%= link_to( raw("<h2>Pomodoro Crate - Pomodoro time management</h2>"), root_path, :id => "logo") %>
		</header>