<nav>
	<ul>
		<li <%= is_current_page?(:activities) ? 'class=active' : '' %>><%= link_to( raw( "Activities #{ overdue_activities_badge }" ), activities_path, :class => %w[tabs ico-activities] )%></li>
		<li <%= is_current_page?(:todotodays) ? 'class=active' : '' %>><%= link_to( raw( "Today #{ remaining_todo_todays } #{ overdue_todo_todays }" ), todotodays_path, :class => %w[tabs ico-today] )%></li>
		<li <%= is_current_page?(:projects) ? 'class=active' : '' %>><%= link_to( raw( "Projects" ), projects_path, :class => %w[tabs ico-projects] )%></li>
		<li class="<%= is_current_page?(:analytics) ? 'active' : '' %> hidden-tablet hidden-phone"><%= link_to( raw( "Analytics" ), analytics_path, :class => %w[tabs ico-analytics] )%></li>
	</ul>
</nav>