<nav>
	<ul>
		<% if signed_in? %>
			<li>
      	<%= link_to "Settings", edit_user_path(current_user), :class => [:top_nav] %>
			</li>
			<li>
      	<%= link_to "Feedback", new_contact_request_path, :class => [:top_nav, :iframe] %>
			</li>
		<% end %>
		<li><%= link_to "Help", help_path, :class => :top_nav %></li>
		<li class="last">
			<% if signed_in? %>
				<%= link_to "Sign out", signout_path, :method => :delete, :class => :top_nav %>
			<% else %>
				<%= link_to "Sign in", signin_path, :class => :top_nav %>
			<% end %>
		</li>
	</ul>
</nav>