<section id="sidebar" class="span3">
  <%= render "widgets/active_pomodoro" -%>
  <%= render "widgets/activity_status" -%>
  <%= render "widgets/recent_activities" -%>
  <%= render "widgets/overdue_activities" -%>
  <%= render "widgets/upcoming_activities" -%>
  <%= render "widgets/upcoming_appointments" -%>
</section>