<section id="sidebar">
	<%= render "widgets/active_pomodoro" %>
	<%= render "widgets/recent_activities" %>
	<%= render "widgets/activity_status" %>
	<%= render "widgets/overdue_activities" %>
	<%= render "widgets/upcoming_activities" %>
</section>