<% unless @pomodoro.nil? %>
	<aside>
	
		<section id="activePomodoro" class="contentBoxNav">
			<nav>
				<ul>
					<li class="active"><a class="tabs">Active pomodoro</a></li>
				</ul>
			</nav>
			<div class="widgetBox timer">
			
				<span class="time" data-seconds="<%= (current_user.pomodoro_length * 60) - ((Time.now - @pomodoro.created_at)).to_i %>"><% current_user.pomodoro_length - ((Time.now - @pomodoro.created_at) / 60).to_i %></span>
				<div class="activity_name"><%= @pomodoro.activity.name %></div>
				
				<% unless @pomodoro.activity.description.blank? %>
					<div class="activity_details">
						<%= text_format(@pomodoro.activity.description) %>
					</div>
				<% end %>
				
				<div class="activity_details">
					<%= link_to("&#9658; Details".html_safe, activity_path(@pomodoro.activity), :class => [:button, :details_button]) %>
				</div>
				
				<div class="pomodorosCount">
					<%= pomodoros_completed_ratio(@pomodoro.activity.pomodoros.successful_and_completed.count, @pomodoro.activity.estimated_pomodoros) %>
				</div>
				
				<div id="currentPomodoroForm">
					<%= render "pomodoros/update_current_form" %>
				</div>
				
			</div>
		</section>

	</aside>
<% end %>

<%= render "widgets/timed_break" %>