<aside class="row-fluid">
	<section id="recentActivities" class="contentBoxNav">
		<% unless @recent_pomodoros.nil? or @recent_pomodoros.length == 0 %>
		<nav>
			<ul>
				<li class="active"><a class="tabs">Recent activities</a></li>
			</ul>
		</nav>
		
		<%= render :partial => 'widgets/toggable_button', :locals => { :widget_name => :recentActivities } %>
		
		<div class="widgetBox">
			<ul class="activityList">

				<% @recent_pomodoros.each do |rp| %>
				<% a = rp.activity %>
				<% next if a.nil? %>

				<li class="<%= cycle("even", "odd") %> <%= a.priority if a.priority != :none %>">
					<div class="quickView">
						<div class="activityName">
							<%= content_tag_for(:span, a, :class => (a.completed ? 'activityCompleted' : "") ) do %>
								<%= a.name %>
							<% end %>
							<%= in_progress_marker(@pomodoro, a) %>
							<%= todotoday_marker(a) %>
						</div>
					</div>

					<%= render :partial => 'widgets/activity_toolbar_small', :object => a, :as => :a %>
					
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>
	</section>
</aside>