<% unless @recent_pomodoros.nil? or @recent_pomodoros.length == 0 %>
	<aside>
	
		<section id="activePomodoro" class="contentBoxNav">
			<nav>
				<ul>
					<li class="active"><a class="tabs">Recent activities</a></li>
				</ul>
			</nav>
			<div class="widgetBox">
				
				<ul class="activityList">

					<% @recent_pomodoros.each do |rp| %>
					<% a = rp.activity %>
					<% next if a.nil? %>

					<li class="<%= cycle("even", "odd") %>">
						<div class="quickView">
							<div class="activityName">
								<%= content_tag_for(:span, a, :class => (a.completed ? 'activityCompleted' : "") ) do %>
									<%= a.name %>
								<% end %>
								<%= in_progress_marker(@pomodoro, a) %>
								<%= todotoday_marker(a) %>
							</div>
						</div>

						<ul class="actionsBar">
							<li><%= link_to("Show", activity_path(a), :class => :button) %></li>
							<li><%= link_to("Clone", clone_activity_path(:id => a.id), :class => :button) %></li>
							<% if @pomodoro.nil? and !a.todotoday.nil? and !a.completed %>
								<li><%= link_to("Do it now", pomodoros_path(:activity_id => a), :method => :post, :class => :button) %></li>
							<% end %>
							<% if a.todotoday.nil? and !a.completed %>
								<li><%= link_to("Do Today", todotodays_path(:activity_id => a), :method => :post, :class => :button) %></li>
							<% end %>
						</ul>
						
					</li>
					<% end %>

				</ul>
				
			</div>
		</section>

	</aside>
<% end %>