<% if @break.nil? and @pomodoro.nil? %>
	
	<aside>
	
		<section id="timedBreak" class="contentBoxNav">
			<nav>
				<ul>
					<li class="active"><a class="tabs">Timed break</a></li>
				</ul>
			</nav>
			<div class="widgetBox timer">
				<ul class="breakButtons">
					<li id="shortBreak">
						<%= link_to("#{current_user.short_break_length}", breaks_path(:duration => current_user.short_break_length), :method => :post) %> min
						<span>break</span>
					</li>
					<li id="longBreak">
						<%= link_to("#{current_user.long_break_length}", breaks_path(:duration => current_user.long_break_length), :method => :post) %> min
						<span>break</span>
					</li>
				</ul>
			</div>
		</section>

	</aside>

<% elsif !@break.nil? %>

	<aside>
	
		<section id="activePomodoro" class="contentBoxNav">
			<nav>
				<ul>
					<li class="active"><a class="tabs">Timed break</a></li>
				</ul>
			</nav>
			<div class="widgetBox timer">
			
				<span class="time" data-seconds="<%= (@break.duration * 60) - ((Time.now - @break.created_at)).to_i %>"><%= @break.duration - ((Time.now - @break.created_at) / 60).to_i %></span>
				
				<%= form_for(@break, :url => break_path(@break)) do |f| %>
					<%= hidden_field_tag("break[completed]", true) %>
					<div class="field break_toolbar">
						<%= f.submit("End break", :class => :submit) %>
					</div>
				<% end %>
			</div>
		</section>

	</aside>

<% end %>