<aside>	
		<section id="upcomingActivities" class="contentBoxNav">
		<% unless @upcoming_activities.nil? || @upcoming_activities.empty? %>
		<nav>
			<ul>
				<li class="active"><a class="tabs">Upcoming deadlines</a></li>
			</ul>
		</nav>
		
		<%= render :partial => 'widgets/toggable_button', :locals => { :widget_name => :upcomingActivities } %>
		
		<div class="widgetBox">
			<ul class="activityList">

				<% @upcoming_activities.each do |a| %>

				<li class="<%= cycle("even", "odd") %> <%= a.priority if a.priority != :none %>">
					<div class="quickView">
						<div class="activityName">
							<% time_distance = (Date.today - a.deadline.to_date == 0 ? "Today" : distance_of_time_in_words(Date.today, a.deadline.to_date) + " from now" ) %>
							<%= a.name %>
							<span class="deadlineMarker" title="<%= a.deadline.to_date.to_s(:rfc822) %>"><%= due_at_status(a.deadline, time_distance) %></span>
							<%= in_progress_marker(@pomodoro, a) %>
							<%= todotoday_marker(a) %>
						</div>
					</div>

					<%= render :partial => 'widgets/activity_toolbar_small', :object => a, :as => :a %>
					
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>
	</section>
</aside>