<ul class="toolbar">
	<li><%= link_to "New project", new_project_path, :class => "button" %></li>
</ul>

<section class="group">
	<h6>Projects</h6>
	
	<% unless @projects.empty? %>
	<ul class="activityList">
		<% @projects.each do |project| %>
			<li>
				<div>
					<div class="quickView">
						<div class="activityName">
							<%= project.name %>
							<% # in_progress_marker(@pomodoro, project.activities.first) %>
							<% # todotoday_marker(project.activities.first) %>
						</div>
						
						<div class="pomodorosCount">
							
							<div class="projectDetails" title="<%= pluralize(project.completed_pomodoros, 'pomodoro') %> completed">
								<%= project.completed_pomodoros %>
								<span class="explanation">&#9679;</span>
							</div>

							<% left_pomodoros = project.total_pomodoros - project.completed_pomodoros %>
							<div class="projectDetails" title="<%= pluralize(left_pomodoros, 'pomodoro') %> left">
								<%= left_pomodoros >= 0 ? left_pomodoros : 0 %>
								<span class="explanation">&#9675;</span>
							</div>

							<div class="projectDetails" title="Project completeness">
								<%= project.completness %>%
							</div>
						
						</div>
						
					</div>
				</div>

				<div class="detailsView">
					<%= text_format(project.description) %>

					<ul class="actionsBar">
						<li><%= link_to("Edit", edit_project_path(project), :class => :button) %></li>
						<li><%= link_to("Delete", project, :confirm => "Are you sure?", :method => :delete, :class => :button) %></li>
					</ul>
					<ul class="infoBar">
						<li>Created at <%= project.created_at.to_date %></li>
						<li>Started at <%= project.started_at %></li>
						<li>Deadline <%= project.deadline %></li>
					</ul>
				</div>
			</li>
		<% end %>
	</ul>
	<% else %>	
		<p class="pageContainer">
			You haven't created any projects yet.
		</p>
		<p class="pageContainer">
			Use the <%= link_to("New project", new_project_path, :class => :button) %> button to add your first projects.
		</p>
	<% end %>
</section>