<%= render "shared/upper_toolbar" %>

<section class="group">
	<h6>Projects</h6>
	
	<% unless @projects.empty? %>
	<ul class="activityList">
		<% @projects.each do |project| %>
			<li>
				<div>
					<div class="quickView">
						<div class="activityName">
							<%= project.name %>
							<% # in_progress_marker(@pomodoro, project.activities.first) %>
							<% # todotoday_marker(project.activities.first) %>
						</div>
						
						<div class="projectInfo">
							
							<div class="projectDetails" title="<%= pluralize(project.completed_pomodoros, 'pomodoro') %> completed">
								<%= project.completed_pomodoros %>
								<span class="explanation"><%= image_tag "pomodoro_completed.png", :alt => "Completed pomodoros" %></span>
							</div>

							<% left_pomodoros = project.total_pomodoros - project.completed_pomodoros %>
							<div class="projectDetails" title="<%= pluralize(left_pomodoros, 'pomodoro') %> left">
								<%= left_pomodoros >= 0 ? left_pomodoros : 0 %>
								<span class="explanation"><%= image_tag "pomodoro_not_started.png", :alt => "Left pomodoros" %></span>
							</div>

							<div class="projectDetails" title="Project completeness">
								<%= project.completness %>%
							</div>
						
						</div>
						
					</div>
				</div>

				<div class="detailsView">
					<%= text_format(project.description) %>

					<ul class="actionsBar">
						<li><%= link_to("Edit", edit_project_path(project), :class => [:activity_toolbar_button, :edit]) %></li>
						<li><%= link_to("Delete", project, :confirm => "Are you sure?", :method => :delete, :class => [:activity_toolbar_button, :delete]) %></li>
					</ul>
					<ul class="infoBar">
						<li class="clear_me">CREATED AT: <%= project.created_at.to_date.to_s(:rfc822) %></li>
						<li class="clear_me">STARTED AT: <%= project.started_at %></li>
						<li>DEADLINE: <%= project.deadline %></li>
					</ul>
				</div>
			</li>
		<% end %>
	</ul>
	<% else %>	
		<p class="pageContainer">
			You haven't created any projects yet.
		</p>
		<p class="pageContainer">
			Use the <%= link_to("New project", new_project_path, :class => :button) %> button to add your first projects.
		</p>
	<% end %>
</section>