<%= render "shared/upper_toolbar" %>

<section class="group">
	<h6><%= @project.name %></h6>
	<ul class="activityList">
		<li>
			<div>
				<div class="quickView">
					<div class="activityName">
            <span style="background-color: <%= @project.color ||= Project.default_color %>;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<%= @project.name %>
						<% # in_progress_marker(@pomodoro, project.activities.first) %>
						<% # todotoday_marker(project.activities.first) %>
					</div>
					
					<div class="projectInfo">
						
						<div class="projectDetails" title="<%= pluralize(@project.completed_pomodoros, 'pomodoro') %> completed">
							<%= @project.completed_pomodoros %>
              <span class="explanation"><%= image_tag "pomodoro_completed.png", :alt => "Completed beats" %></span>
						</div>
						
						<% left_pomodoros = @project.total_pomodoros - @project.completed_pomodoros %>
						<div class="projectDetails" title="<%= pluralize(left_pomodoros, 'pomodoro') %> left">
							<%= left_pomodoros %>
              <span class="explanation"><%= image_tag "pomodoro_not_started.png", :alt => "Remaining beats" %></span>
						</div>
						
						<div class="projectDetails" title="Project completness">
							<%= @project.completness %>%
						</div>
					
					</div>
					
				</div>
			</div>

			<div class="detailsView">
				<%= text_format(@project.description) %>
				
				<ul class="infoBar">
					<li title="Project creation date">Created at <%= @project.created_at.to_date.to_s(:rfc822) %></li>
					<li title="Automatically picked as the date of the earliest activity of the project">Started at <%= @project.started_at %></li>
					<li title="Automatically picked as the date of the latest activity of the project">Deadline <%= @project.deadline %></li>
				</ul>
				<ul class="actionsBar">
					<li><%= link_to("Edit", edit_project_path(@project), :class => [:activity_toolbar_button, :edit]) %></li>
					<li><%= link_to("Delete", @project, :confirm => "Are you sure?", :method => :delete, :class => [:activity_toolbar_button, :delete]) %></li>
				</ul>
			</div>
		</li>
	</ul>
</section>