<% unless @activities.empty? %>

	<section class="group" id="activities_list">
		
		<% prev_deadline = "" %>
		<% completed_activities = false %>
    <% someday_activities = false %>
		<% opened_ul = false %>
		
		<% @activities.each do |a| %>
		
			<% unless a.completed? or a.someday? %>

				<% if distance_of_time_in_words(Date.today, a.deadline.to_date) != prev_deadline %>
				
					<% unless prev_deadline.blank? %>
					</ul>
					<% end %>
				
					<h6>
						<% if Date.today == a.deadline.to_date %>
								Today
						<% else %>
								<%= distance_of_time_in_words(Date.today, a.deadline.to_date).titleize %>
								<%= (Time.now > a.deadline) ? " ago".titleize : " from now".titleize %>
						<% end %>
					</h6>

					<ul class="activityList">
					<% prev_deadline = distance_of_time_in_words(Date.today, a.deadline.to_date) %>
					<% opened_ul = true %>
				<% end %>

			<% else %>

        <% if a.completed? %>

          <% unless completed_activities %>
            <%= "</ul>".html_safe if opened_ul %>
            <h6>Completed</h6>
            <ul class="activityList">
            <% completed_activities = true %>
          <% end %>

        <% elsif a.someday? %>

          <% unless someday_activities %>
            <%= "</ul>".html_safe if opened_ul %>
            <h6>Someday</h6>
            <ul class="activityList">
              <% someday_activities = true %>
          <% end %>

        <% end %>

			<% end %>
			
			<%= render :partial => "shared/activity", :locals => { :a => a } %>
			
	  <% end %>
					</ul>
		
	</section>

	<%= will_paginate @activities %>
	
<% else %>
	<%= render 'no_activities' %>
<% end %>