<%= form_for @activity, :html => { } do |f| %>
	<% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
	  <%= f.label :name %><br />
	  <%= f.text_field :name %>
	</div>
	
	<div class="field">
	  <%= f.label :description %><br />
	  <%= f.text_area :description %>
	</div>
	
	<div class="field numeric">
	  <%= f.label :estimated_pomodoros, 'Estimated beats' %><br />
	  <%= f.text_field :estimated_pomodoros, :size => 1, :class => :numeric %>
		<div id="slider"></div>
	</div>

  <div class="field">
    <%= f.label :someday, 'Backlogged (no deadline)' %><br />
    <%= f.check_box :someday %>
  </div>
	
	<div class="field activity_deadline">
	  <%= label_tag 'activity_deadline_1i', :deadline.to_s.titleize %><br />
	  <%= f.date_select :deadline %>
		<%= hidden_field "hiddendp", nil, :disabled => "disabled", :size => 10 %>
	</div>
	
	<div class="field">
	  <%= label_tag 'activity_project_id', :project.to_s.titleize %><br />
	  <%= collection_select(:activity, :project_id, Project.where(:user_id => current_user, :completed => false), :id, :name) %>
	</div>
	
	<div class="field">
	  <%= f.label :event_type, 'Appointment (time schedule)' %><br />
	  <%= f.check_box :event_type %>
	</div>
	
	<div class="field schedule <%= @activity.event_type ? '' : ' inactive' %>">
	  <%= f.label :start_at %><br />
	  <%= f.time_select :start_at, {:minute_step => 5} %>
	</div>
	
	<div class="field schedule <%= @activity.event_type ? '' : ' inactive' %>">
	  <%= f.label :end_at %><br />
	  <%= f.time_select :end_at, {:minute_step => 5} %>
	</div>
	
	<div class="field">
	  <%= f.label :unplanned, 'Unplanned and Urgent' %> <span class="inline_help" title="An activity that hasn't been planned and scheduled in advance, but it has occured unexpectedly and needs to be taken care of urgently. Track this kind of activities in the analitics section with the goal of having as few of them as possible."> ? </span><br />
	  <%= f.check_box :unplanned %>
	</div>

  <% unless @activity.persisted? %>
    <div class="field">
      <%= f.label :do_today %><br />
      <%= f.check_box :do_today %>
    </div>
  <% end %>

	<div class="field">
	  <%= f.label :completed %><br />
	  <%= f.check_box :completed %>
	</div>
	
	<div class="field">
	  <%= f.label :priority %><br />
	  <%= select( :activity, :priority, options_for_select( Ketchup::Application.config.activity_priority_list, @activity.priority ), {}, :class => @activity.priority ) %>
	</div>
	
	<div class="field">
	  <%= f.label :tag_list, "#{:tag_list.to_s.titleize} (comma separated)" %><br />
	  <%= f.text_field :tag_list %>
	</div>

  <div class="actions">
    <%= f.submit nil, :class => [:btn, 'btn-primary'] %>
		<%= link_to "Cancel", activities_path, :method => :get, :class => [:btn, 'btn-danger'] %>
  </div>
<% end %>