<%= render "shared/upper_toolbar" %>
<%= render "shared/filter_toolbar" %>

<% unless @activities.empty? %>

	<section class="group">
		
		<% prev_deadline = "" %>
		<% completed_activities = false %>
		<% opened_ul = false %>
		
		<% @activities.each do |a| %>
		
			<% unless a.completed %>
				<% if a.deadline != prev_deadline %>
				
					<% unless prev_deadline.blank? %>
					</ul>
					<% end %>
				
					<h6>
						<% if Date.today == a.deadline.to_date %>
								Today
						<% else %>
								<%= distance_of_time_in_words(Date.today, a.deadline.to_date).titleize %>
								<%= (Time.now > a.deadline) ? " ago".titleize : " from now".titleize %>
						<% end %>
					</h6>
					<ul class="activityList">
					<% prev_deadline = a.deadline %>
					<% opened_ul = true %>
				<% end %>
			<% else %>
				<% unless completed_activities %>
					<%= "</ul>".html_safe if opened_ul %>
					<h6>Completed</h6>
					<ul class="activityList">
					<% completed_activities = true %>
				<% end %>
			<% end %>
			
			<%= render :partial => "shared/activity", :locals => { :a => a } %>
			
	<% end %>
					</ul>
		
	</section>

	<%= will_paginate @activities %>
<% else %>
	<section class="group">
		<h6>Activities</h6>
	
		<p class="pageContainer">
			You haven't added any activities yet.
		</p>
		<p class="pageContainer">
			Use the <%= link_to_unless(Project.where(:user_id => current_user).empty?, "New activity", new_activity_path, :class => :button) %> button to add your first activities and start enjoying the pomodoro technique.
		</p>
	</section>
<% end %>