<h1>Activities list</h1>
<div class="toolbar">
	<%= link_to "[+] New activity", new_activity_path %>
</div>

<% unless @activities.empty? %>
	<table>
		<tr>
			<th>Completed</th>
			<th>Activity name</th>
			<th>Pomodoros</th>
			<th>Deadline</th>
			<th>Project</th>
			<th>Actions</th>
		</tr>
		<% @activities.each do |a| %>
		<tr>
			<td><%= check_box_tag( "activity_completed_" + a.id.to_s, a.completed, a.completed, :disabled => true ) %></td>
			<td><%= a.name %></td>
			<td><%= pomodoros_completed_ratio(a.pomodoros.successful_and_completed.count, a.estimated_pomodoros) %></td>
			<td><%= due_at_status(a.deadline) %></td>
			<td>-</td>
			<td>
				<%= link_to_if( a.todotoday.nil?, "Do Today", todotodays_path(:activity_id => a), :method => :post) %> | 
				<%= link_to("Show", a) %> | 
				
				<%= link_to("Edit", edit_activity_path(a)) %> | <%= link_to("Delete", a, :confirm => "Are you sure?", :method => :delete) %>
			</td>
		</tr>
		<% end %>
	</table>
	
	<%= will_paginate @activities %>
<% end %>