<%= render "shared/upper_toolbar" %>
<%= render "shared/filter_toolbar" %>

<% unless @activities.empty? %>

	<section class="group">
		
		<% prev_deadline = "" %>
		<% completed_activities = false %>
		<% opened_ul = false %>
		
		<% @activities.each do |a| %>
		
			<% unless a.completed %>
				<% if a.deadline != prev_deadline %>
				
					<% unless prev_deadline.blank? %>
					</ul>
					<% end %>
				
					<h6>
						<% if Date.today == a.deadline.to_date %>
								Today
						<% else %>
								<%= distance_of_time_in_words Date.today, a.deadline.to_date %>
								<%= (Time.now > a.deadline) ? " ago" : " from now" %>
						<% end %>
					</h6>
					<ul class="activityList">
					<% prev_deadline = a.deadline %>
					<% opened_ul = true %>
				<% end %>
			<% else %>
				<% unless completed_activities %>
					<%= "</ul>".html_safe if opened_ul %>
					<h6>completed</h6>
					<ul class="activityList">
					<% completed_activities = true %>
				<% end %>
			<% end %>
			
						<li>
							<div class="quickView">
								<%= form_for a do |f| %>
									<%= hidden_field "activity", :completed, :value => (a.completed ? false : true) %>
									<%= hidden_field "activity", "force_update", :value => :true %>
									<%= f.submit (a.completed ? '&#10003;'.html_safe : ""), :class => "checkbox" %>
									<div class="activityName">
										<%= content_tag_for(:span, a, :class => (a.completed ? 'activityCompleted' : "") ) do %>
											<%= a.name %>
										<% end %>
										<%= in_progress_marker(@pomodoro, a) %>
										<%= todotoday_marker(a) %>
									</div>
									<div class="pomodorosCount">
										<%= pomodoros_completed_ratio(a.pomodoros.successful_and_completed.count, a.estimated_pomodoros) %>
									</div>
								<% end %>
							</div>
				
							<div class="detailsView">
								<%= a.description %>
					
								<ul class="actionsBar">
									<% if a.todotoday.nil? %>
										<li><%= link_to( "Do Today", todotodays_path(:activity_id => a), :method => :post, :class => :button) %></li>
									<% elsif !in_progress?(@pomodoro, a) %>
										<li><%= link_to("Do it now", pomodoros_path(:activity_id => a), :method => :post, :class => :button) %></li>
									<% end %>
									<li><%= link_to("Edit", edit_activity_path(a), :class => :button) %></li>
									<li><%= link_to("Delete", a, :confirm => "Are you sure?", :method => :delete, :class => :button) %></li>
									<li><%= link_to("Clone", clone_activity_path(:id => a.id), :class => :button) %></li>
								</ul>
								<ul class="infoBar">
									<li>Project: <%= a.project.nil? ? "none" : link_to(a.project.name, a.project) %></li>
									<li><%= raw a.completed ? "Completed" : "Due at #{due_at_status a.deadline}" %></li>
									<li>Created at <%= a.created_at.to_date %></li>
								</ul>
							</div>
						</li>
			
	<% end %>
					</ul>
		
	</section>

	<%= will_paginate @activities %>
<% else %>
	<section class="group">
		<h6>Activities</h6>
	
		<p class="pageContainer">
			You haven't added any activities yet.
		</p>
		<p class="pageContainer">
			Use the <%= link_to_unless(Project.where(:user_id => current_user).empty?, "New activity", new_activity_path, :class => :button) %> button to add your first activities and start enjoying the pomodoro technique.
		</p>
	</section>
<% end %>