<h1><%= @activity.name %></h1>

<p class="pomodoros_icons">
	<% for i in 1..@activity.estimated_pomodoros %>
		<%= image_tag( "tomato.jpg", :alt => "Pomodoro", :size => "18x18" ) %>
		<% if i%4 == 0 %>
			&nbsp;&nbsp;
		<% end %>
	<% end %>
</p>

<p class="deadline">
	<%= raw @activity.completed ? "Completed" : "Due at #{due_at_status @activity.deadline}" %>
</p>

<p class="toolbar">
	<%= link_to_if(@activity.todotoday.nil?, "Do Today", todotodays_path(:activity_id => @activity), :method => :post) %>
	<%= link_to("Edit", edit_activity_path(@activity)) %>
	<%= link_to("Back to list", activities_path) %>
	<%= link_to("Delete", @activity, :method => :delete, :confirm => "Are you sure?") %>
</p>

<p><%= @activity.description %></p>
