    <%= render 'shared/header' %>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, :class => "flash alert alert-#{key}") %>
    <% end %>

    <section id="content_area" class="row-fluid">

      <section id="content" class="contentBoxNav content-fluid span9">

        <%= render "shared/main_menu" %>

        <%= yield %>

      </section>

      <%= render "shared/sidebar" %>

    </section>
		
	</div>
</div>

<%= render "shared/footer" %>