    <%= render 'shared/header' %>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, :class => "flash alert alert-#{key}") %>
    <% end %>

    <section id="content_area" class="row-fluid">

      <section id="content" class="contentBoxNav content-fluid <%= current_user.activities.count > 0 ? 'span9' : 'span12' %>">

        <%= render "shared/main_menu" %>

        <%= yield %>

      </section>

      <% if current_user.activities.count > 0 %>
        <%= render "shared/sidebar" %>
      <% end %>

    </section>
		
	</div>
</div>

<%= render "shared/footer" %>