		<%= render 'shared/header' %>
		
		<section id="content" class="contentBoxNav">
			
			<% flash.each do |key, value| %>
				<%= content_tag(:div, value, :class => "flash #{key}") %>
			<% end %>
			
			<%= render "shared/main_menu" %>
			
			<%= yield %>
			
		</section>
		
		<%= render "shared/sidebar" %>
		
	</div>
</div>

<%= render "shared/footer" %>