<!DOCTYPE html>
<html>
<head>
  <title><%= request.path_parameters[:controller].capitalize %> | Pomodoro Crates</title>

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<%= stylesheet_link_tag "blueprint/reset", 	:media => :screen %>
	<%= stylesheet_link_tag "screen", 					:media => :screen %>
	<%= stylesheet_link_tag "blueprint/print", 	:media => :print %>
	<!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
	
	<%= javascript_include_tag :all %>
	<%= csrf_meta_tag %>
</head>

<body>
<div id="site">
	<div id="page" class="boxShadow">

		<%= render 'shared/header' %>
		
		<% flash.each do |key, value| %>
			<%= content_tag(:div, value, :class => "flash #{key}") %>
		<% end %>
		
		<% render 'shared/current_pomodoro' %>
		
		<section id="content" class="contentBoxNav">
			
			<%= render "shared/main_menu" %>
			
			<%= yield %>
			
		</section>
		
		<section id="sidebar">
			<%= render "shared/active_pomodoro" %>
			<%= render "shared/activity_status" %>
		</section>
		
	</div>
</div>

<% debug(params) if Rails.env.development? %>

</body>
</html>