<%= render 'shared/header' %>

<% flash.each do |key, value| %>
  <%= content_tag(:div, value, :class => "flash alert alert-#{key}") %>
<% end %>

<section class="row" id="home-page">

  <h1>
    <strong>Rhapsody</strong>
  </h1>
  <h2>
    The productivity app which helps you get the most out of your time
  </h2>

  <br/>

  <br/><br/>
  <p class="actions">
    <%= link_to( 'Sign up', signup_path, :class => %w[btn btn-large btn-block] ) %>
    <%= link_to( 'Login', signin_path, :class => %w[btn btn-large btn-block] ) %>
  </p>
</section>

</div>
</div>

<%= render "shared/footer" %>