<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<title>Rhapsody - Agile time management</title>

<%= render 'shared/meta_tags' %>

<%= favicon_link_tag %>
<%= csrf_meta_tag %>

<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<%= stylesheet_link_tag "static" %>

<!--[if IE 7]>
<%= stylesheet_link_tag "styles_ie7.css" %>
<![endif]-->

</head>
<body>

<div class="wrapper">

	<%= yield %>
	
</div>

<%= javascript_include_tag "static" %>
<!--[if lt IE 9]><%= javascript_include_tag 'jquery.corner', 'ie' %><![endif]-->
<!--[if IE 7]><%= javascript_include_tag 'ie7' %><![endif]-->

<%= render "shared/ga" %>

</body>
</html>